<div class="container-fluid p-0">
    <!-- Fullscreen Navbar -->
    <nav class="navbar navbar-dark bg-dark w-100" style="height: 9  0px;">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand text-white" href="#">DNYANOBA HOSPITALS</a>
        <a class="nav-link text-light" href="#">Home</a>
      </div>
    </nav>
  
    <!-- Adjusting the space below the navbar -->

      <div class="card" >
        <div class="card-body">
          <h2 class="text-center">Login As Doctor</h2>
          <p class="text-center text-muted">Please enter your Username & Password</p>
  
          <form>
            <div class="form-group">
              <label for="username" class="font-weight-bold">Username</label>
              <input type="text"  name="username" id="username" [(ngModel)]="username" class="form-control" placeholder="User name">
            </div>
  
            <div class="form-group mt-3">
              <label for="password" class="font-weight-bold">Password</label>
              <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Password">
            </div>
  
            <div class="d-flex justify-content-between mt-4">
              <button type="submit" (click)="checkLogin()" class="btn btn-success px-4">Login</button>
              <button type="button"  routerLink="/doctor-login" class="btn btn-warning px-4">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  