<!-- <div class="login-container">
    <h2>Login</h2>
    <p>Please enter your Username & Password</p>
  
    <input type="text" placeholder="Username" [(ngModel)]="username" />
    <input type="password" placeholder="Password" [(ngModel)]="password" />
  
    <select [(ngModel)]="role">
      <option value="doctor">Doctor</option>
      <option value="admin">Admin</option>
    </select>
  
    <div class="button-container">
      <button class="login-btn" (click)="onLogin()">Login</button>
    </div>
  </div>
   -->